# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE
GMAIL_PASSWORD = dmmg zwnm hazr kuei
GMAIL = plantsitterpro@gmail.com

# Front-End Variables
BASENAME=/
#BACKEND_URL=
#FRONTEND_URL=

# STRIPE_SECRET_KEY=sk_test_51PzpoVFFnqRKlO53YBzkC7FGutBAUX2EGyN0lGNSEs51b64szEGtwHFeT5Bth5HDCOI1aAxMWL84K9h2XShsQHCT00lAW743TG
STRIPE_SECRET_KEY=sk_test_51Q18YMFZNGDFafARQeEo0AsOvUCJkxGuHwK3eW8p84lANjaXLHpGiFUEyTSoO1Vp5MZngj76KfRR40pjvWoMfx4c00x6R3Y4zb
REACT_APP_STRIPE_PUBLIC_KEY=pk_test_51Q18YMFZNGDFafARfPb96cydBKBwmWLOIuIRER7eznovcYHePVmx5O5lpkhDFmYVBGDiZgW4K48Kx3A43TMHzo1h00JzpMqVJY
# REACT_APP_STRIPE_PUBLIC_KEY=pk_test_51PzpoVFFnqRKlO53xvdZZPSFaZBmCl4tnIQDefqJjA4U9MvjzvaC39dTQCjx8OoLXhI68A8