.about-contacts-container {
    min-height: 80vh;
    display: block;
}

.about-header {
    padding: 2rem 0;
    margin: 0 auto !important;
    width: 60%;
    height: auto;
    text-align: center;
}

.about-pic {
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    height: 35vw;
    display: flex;
    border-radius: 100%;
    padding: 0;
    border: 2px solid green;
}

.about-text {
    padding-left: 3vw;
    padding-top: 2vh;
}

.pic-and-text-container {
    width: 100%;
    display: flex;
    padding: 2vw;
}

@media only screen and (max-width: 600px) {

    .pic-and-text-container {
        display: block;
    }

    .about-header {
        margin-bottom: 2vh;
        font-size: 8vw;
    }

    .about-pic {
        margin: auto;
        width: 60vw;
        height: 60vw;
    }

    .about-text {
        margin-top: 1vh;
    }
}