.blog-header {
  font-size: 3rem;
}

.article {
  padding: 20px;
}

.article-img {
  width: 15rem !important;
  height: 10rem;
  border: 1px solid rgb(70, 108, 70);
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article-text {
  font-size: 1.2rem;
  text-align: center;
  color: black;
}

@media only screen and (max-width: 600px) {
  
  .blog-header {
    font-size: 2rem;
  }

}