.client-landing-container{
    min-height: 80vh;
    padding: 3vh 4vw;
}

.profile-headers {
    width: 100%;
}

.apply-link {
    text-align: center;
    color: green;
    text-decoration: underline;
    padding-top: 2vh;
}

.apply-link:hover {
    cursor: pointer;
    color: blue;
}

.posts-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.upload-job {
    border: 3px solid darkgrey;
    border-radius: 15%;
    width: 100px;
    height: 100px;
    opacity: 100;
    transition: opacity 0.3s ease;
    color: #ccc;
    background-color: rgb(238, 238, 238);
    margin: 4vh auto;
}

.plus-sign {
    position: relative;
    top: 1%;
    left: 7%;
}
  
.upload-job:hover {
    background-color: rgb(251, 251, 243);
    color:rgb(70, 108, 70);
    cursor: pointer;
}

.upload-job:active {
    background-color: rgb(70, 108, 70);
    color: rgb(251, 251, 243);
}

.job-cards {
    padding: 10px;
    width: 33%;
}
  
.job-cards:hover {
    background-color: rgb(251, 251, 243);
    cursor: pointer;
}

.card-img-top {
    border-radius: 15px;
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: auto;
    margin-top: 10px;
}

.job-post-card-title {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .upload-job {
        width: 75px;
        height: 75px;
    }

    .plus-sign {
        top: 4%;
        left: 12%;
        font-size: 4rem;
    }
}