.page-container {
    min-height: 80vh;
    padding-top: 5vh;
}

.forgot-password-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    text-align: center;
}

.forgot-password-header {
    margin-bottom: 2vh;
    font-size: 24px;
    color: #4A7C59; /* Green color */
    text-align: center;
}

.forgot-password-form-group {
    margin-bottom: 20px;
}

.forgot-password-label {
    display: block;
    margin-bottom: 1vh;
    color: #333;
    font-size: 1.5rem;
}

.forgot-password-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.forgot-password-input:focus {
    border: 2px solid #4A7C59; /* Green color on focus */
    outline: none;
}

.forgot-password-button {
    background-color: #3c684d; /* Green color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 60%;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.forgot-password-button:hover {
    font-weight: bold;
    background-color: white;
    color: #3c684d;
    border: 2px solid #3c684d;
}

.forgot-password-error {
    color: #721c24;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.modal-header {
    background-color: #4A7C59; /* Green color */
    color: white;
}

.modal-body {
    font-size: 16px;
    color: #333;
}

@media only screen and (max-width: 600px) {
    .forgot-password-container {
        width: 90vw;
    }
}