.diphylleia-regular {
    font-family: "Diphylleia", serif;
    font-weight: 400;
    font-style: normal;
}

.button-text{
    margin: auto;
    padding: 0;
    width: 100%;
    font-size: 2vw;
}

/* Base button styling */
button {
    background-color: rgb(70, 108, 70);
    color: white;
    padding: 6px 24px;
    border: 2px solid rgb(70, 108, 70);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    border-radius: 20px;
}

button:active, button:hover { 
    background-color: white;
    color: rgb(70, 108, 70);
    border: 2px solid rgb(70, 108, 70);
}

button:focus {
    outline: none; /*removes focus ring */
}