.location-container {
    min-height: 80vh;
    padding-top: 5vh;
}

.location-header {
    font-size: 6vw;
    font-weight: bold;
}

.address {
    padding: 15px auto;
    margin: 0 auto;
    width: 100%;
    font-size: 4vw;
}

.input-field {
    width: 300px;
    padding: 10px;
    outline: black;
    padding: 5px auto;
}