.navbar {
  border-bottom: 2px solid rgb(70, 108, 70);
  height: 10vh;
}

.navbar-banner {
  padding: 0 2vw;
  max-width: 100%;
}

.logo {
  max-height: 8vh;
  width: auto;
}

.example-only {
  font-size: 3vw;
  color: green;
}

#dropdownMenuButton {
  font-size: 1.8vh;
  border-radius: 20px;
  font-weight: bold;
}

.dropdown-item, li {
  font-size: 1.5vh;
}

li:hover {
  cursor: pointer;
}

.scrollLink:hover {
  background-color: rgb(238, 238, 238);
}

@media only screen and (max-width: 600px) {
  .navbar {
    height: 14vh;
  }

  .navbar-banner {
    padding: 0 4vw;
  }
  
  .logo {
    max-height: 11vh;
  }

  .example-only {
    font-size: 5vw;
  }
  
  #dropdownMenuButton1 {
    font-size: 3.5vw;
    padding: 2px 4px;
  }

  .dropdown-item, li {
    font-size: 3vw;
  }
}