.subscription-container {
    display: flex;
    justify-content: center;
    min-height: 80vh;
    padding-top: 10vh;
}

.subscription {
    height: 280px;
    width: 400px;
    border-radius: 25px;
    padding: 5px;
    background-color: blanchedalmond;
    border: 2px solid rgb(70, 108, 70);
    text-align: center;
    margin: 0 auto;
}

.subscription-header {
    font-size: 1.5rem;
    padding: 2vh 0;
    margin: 0;
}

.plant {
    height: 100px;
    width: auto;
    margin-bottom: 1.8rem;
  }